body { font-family: 'Open Sans', sans-serif; color: #757575}
header {text-transform: uppercase;}
header > a:hover {border-top: 3px solid #757575;}
h1, h2, h3, h4, h5, h6 {font-family: 'Roboto Slab', serif;}
a {color: #ae1065; text-decoration: none}
a:hover {color: #6fb74c; text-decoration: none;}
.bg-light { background-color: #fff!important;}
.text-dark {color: #757575!important}
.btn-primary {color: #fff; background-color: #ae1065; border-color: #ae1065;}
a.btn-primary:hover {color: #fff; background-color: #6fb74c; border-color: #6fb74c;}
@media screen and (min-width: 768px) {.main-text {padding-left: 10vw; padding-right: 10vw}}
header nav a.text-dark:hover  {color: rgb(174, 16, 101)}
header nav a {font-weight:600}
header nav a:hover {color: #ae1065}
.footer-credits{color: #999999}
.footer-credits a {color: #fff}
.footer-credits a:hover {color: #099f93}
footer {background-color: #1a3639; padding: 80px 0;}
.footer-links {font-size: small;}
.bg-jumbotron h1, .bg-jumbotron p {text-shadow: rgba(0, 0, 0, 0.2) 2px 2px 2px;}
.bg-jumbotron h1 {font-size: 2.5rem;font-weight: 700}
.bg-jumbotron p {font-size: 13px; font-weight: 600}
.card-header {color: #FFF; background-color: #AE1065;}
.flex-equal > * {flex: 1;}
@media (min-width: 768px) {.flex-md-equal > * {flex: 1;}}
#main-text {padding-left: 10vw; padding-right: 10vw}
#intro-one {color: #FFF; background-color: #e41a1c; border-color: #e41a1c;}
#intro-two {color: #FFF; background-color: #377eb8; border-color: #377eb8;}
#intro-three {color: #FFF; background-color: #4daf4a; border-color: #4daf4a;}
#intro-four {color: #FFF; background-color: #984ea3; border-color: #984ea3;}
#intro-five {color: #FFF; background-color: #ff7f00; border-color: #ff7f00;}
#intro-six {color: #FFF; background-color: #f781bf; border-color: #f781bf;}
#card-one{ border-color: #e41a1c; border-width: 0.3rem}
#card-two{ border-color: #377eb8; border-width: 0.3rem}
#card-three{ border-color: #4daf4a; border-width: 0.3rem}
#card-four{ border-color: #984ea3; border-width: 0.3rem}
#card-five{ border-color: #ff7f00; border-width: 0.3rem}
#card-six{ border-color: #f781bf; border-width: 0.3rem}
